<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="Rapr.Core.TextFileTraceListener, Rapr" initializeData="%LOCALAPPDATA%\\DriverStore Explorer\\Rapr.log" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
