<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Dism" version="2.0.2" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net45" />
  <package id="ObjectListView.Official" version="2.9.1" targetFramework="net40" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net45" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net40" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net40" />
</packages>